@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
::selection{
    background: blueviolet;
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top,purple,blueviolet);
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

section{    
    width: 100%;
    height: 100vh;
    background-image: url(./image/bg1.png);
    background-size: cover;
    background-position: center;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
   
    
}

section nav .logo{
    position: relative;
    left: -10%;
    margin: 5px 0px;
    cursor: pointer;
    color: blueviolet;
    font-size: 35px;
}
section nav .logo span{
    color: rgb(225, 20, 225);
    text-decoration:underline;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    margin: 5px 15px;
}

section nav li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;

}
section nav li a:hover{
    color: purple;
}

nav .icons i{
    transition: 0.2s;
    font-size: 18px;
    margin: 0 4px;
    cursor: pointer;
}
nav .icons :hover{
    color: purple;
}
section .main .main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section .main .main-content .main-text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to right,blueviolet,purple);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    top: 20px;
    left: 5%;

}
section .main .main-content .main-text h1 span{
    font-size: 70px;

}

section .main .main-content .main-text p{
    position: relative;
    left: 5%;
    top:65px;
    line-height: 21px;
    width: 650px;
    text-align: justify;
}

section .main .main-content .main-image img{
    position: relative;
    width: 650px;
    top:65px;
    left:20px;
}
section .main .social-icons{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%,-50%);
    font-size: 19px;
}
section .main .social-icons i{
    margin: 8px 5px;
    cursor: pointer;
    transition: 0.3s;
}

section .main .social-icons i:hover{
    color: purple;
    
}
section .main .button{
    position: absolute;
    left: 6%;
    background: linear-gradient(to left, purple,blueviolet);
    height: 40px;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;

}
section .main .button a{
    color: aliceblue;
    text-decoration: none;
}
section .main .button i{
    margin-left: 5px;
    transition: 0.3s;
}
section .main .button:hover i{
    transform: translateX(5px);
}


.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;

}
.products h1{
    margin:25px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,purple,blueviolet);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 60px;
}
.products .box .card .shoes-img img{
    margin: 20px auto;
    width: 150px;
    transition:  0.3s;
}
.products .box{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
    padding: 25px 0;
    grid-gap: 20px 30px;
}

.products .box .card{
    padding: 10px 10px;
    box-shadow: 0 0 8px purple;
    border-radius: 5px;
    text-align: center;
    background: #f6f6f6;
    height: 400px;
}


.products .box .card .smallcard{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0px;
    opacity: 0;
    transition: 0.3s;
    transform: translateX(-10px);
}
.products .box .card .smallcard i:hover{
    color: purple;
    cursor: pointer;
}

.products .box .card .smallcard i{
    margin: 10px auto;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 8px grey;
}
.products .box .card:hover .smallcard{
    opacity: 1;
    transform: translateX(2px);
}
.products .box .card:hover .shoes-img img{
    transform: scale(1.2);
}
.products .box .products_star i{
    color: orange;
}
.products .box .card button{
    background: linear-gradient(to right ,purple,blueviolet);
    color: white;
    height: 40px;
    width: 100px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.products .box .card button:hover{
    transform: scale(1.2);
}
.products .box .card h2{
    margin: 5px auto;
}
.products .box .card p{
    margin: 2px auto;
    color: grey;
}
.products .box .card h3{
    margin: 5px auto;
}
.products .box .card .products_star{
    margin: 5px auto;
}

/* about */

.about{
    width: 100%;
    height: 100vh;
    padding: 25px 10px;
}

.about h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 60px;
}
.about h1 span{
    background: linear-gradient(to right,purple,blueviolet);
    -webkit-background-clip: text;
    color: transparent;
}

.about .about-content{
    display: flex;
    padding: 10px 20px;

}
.about .about-content .imagebox{
    display: flex;
    align-items: center;
}
.about .about-content .imagebox .smallbox{
    display: flex;
    flex-direction: column;
}
.about .about-content .imagebox .smallbox img{
    width: 150px;
    background: linear-gradient(to right, purple,blueviolet);
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;

}
.about .about-content .imagebox .bigimage{
    margin: 15px;
}
.about .about-content .imagebox .bigimage img{
    width: 600px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px blueviolet;
}
.about .about-content .textbox{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    border: 3px solid purple;
    box-shadow: 0 0 8px purple;
    border-radius: 10px;
    height: 400px;
    padding: 30px;
    text-align: justify;
    color: purple;
}
.about .about-content .textbox p{
    /* background:red; */
}
.about .shopnow{
    position: absolute;
    display: flex;
    align-items: center; 
    margin-left: 700px;
    margin-bottom: 20px;
    background: linear-gradient(to right,purple,blueviolet);
    color: white;
    width: 100px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 8px blueviolet;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;

}
.about .shopnow:hover{
    transform: scale(1.3);
}

.review{
    height: 90vh;
    width: 100%;
    padding: 0 25px;
}

.review h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 20px auto;
}
.review h1 span{
    margin-left: 10px;
    background: linear-gradient(to right, purple,blueviolet);
    -webkit-background-clip: text;
    color: transparent;
}

.review .reviewcontent{
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 20px 20px;
    grid-gap: 20px 20px;
}
.review .reviewcard{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    /* border: 2px solid grey; */
    border-radius: 5px;
    box-shadow: 0 0 8px grey;
    padding: 20px;
}
.review .reviewcard .profile .profileimg{
    width: 90px;
}
.review .reviewcard .profile .profileimg img{
    width: 60px;
    border-radius: 35px;
}

.review .reviewcard .profile {
    display: flex;
    height: 100px;
    padding: 20px 0;

}
.review .reviewcard .profile .nameandrev{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
}
.review .reviewcard .profile .nameandrev .review{
    /* display: flex; */
    padding-left: 0;
}
.review .reviewcard .profile .nameandrev .review i{
    color: orange;
}

.review .reviewcard .text{
    text-align: justify;
    color: purple;
}

.servise{
    width: 100%;
    height: 50vh;
    padding: 0 15px;
}

.servise h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
}
.servise h1 span{
    margin-left: 10px;
    background: linear-gradient(to right,purple,blueviolet);
    -webkit-background-clip: text;
    color: transparent;
}
.servise .content{
    padding: 10px 100px;
    display: flex;
    justify-content: center;

}
.servise .content .box{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 0 4px; */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;


}
.servise .content .box i {
    font-size: 50px;
    color: orange;

}
.servise .content .box h2{
    margin: 10px auto;
}
.servise .content .box p{
    color: grey;
    width: 290px;
}

.login{
    width: 100%;
    height: 95vh;
    padding: 10px 55px;
    background: url(image/loging_bg.png);
    background-size: cover;
    background-position: center;
    display: flex;

}
.login .shoeimage img{
    width: 650px;

}
.login .loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin: 100px 200px;
    
}
.login .loginform form{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    margin-top: 50px;
}
.login .loginform form input{
    border: 2px solid purple;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    background: transparent;

}
.login .loginform form div a{
    justify-content: right;
}
.login .loginform form button{
    background: linear-gradient(to right,purple,blueviolet);
    width: 250px;
    height: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.login .loginform form div {
    transform: translateX(120px);
}
.login .loginform .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login .loginform .signup p{
    margin: 10px;
}
.login .loginform .signup .logo img{
    width: 30px;
    border-radius: 10px;
    margin: 10px;
}
footer{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
footer h3{
    background:linear-gradient(to right,purple,blueviolet);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
}
footer .card p{
    cursor: pointer;
}
footer .card .icon a{
    margin:0 5px;
}